/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tipografia global */
body {
  font-family: 'Inter', sans-serif;
}

/* Scrollbar customizada */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #9333ea; /* roxo Tailwind */
  border-radius: 4px;
}
